@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: inter;
}

body, html{
    background-color: hsl(0, 0%, 8%);
}

main{
    display: flex;
    height: 95vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

section{
    background-color: hsl(0, 0%, 12%);
    height: 565px;
    width: 330px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 25px;
}

img{
    border-radius: 50%;
    height: 85px;
    width: 85px;
    margin-bottom: 10px;
}

h1{
    font-weight: normal;
    font-size: 25px;
    padding: 10px 0px;
}

p#local{
    color: hsl(75, 94%, 57%);
}

p#presentation{
    font-size: 14px;
    margin: 25px 0px;
}


div#links > a{
    display: block;
    height: 45px;
    width: 100%;
    background-color: hsl(0, 0%, 20%);

    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    padding-top: 13px;
}

div#links > a:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}





.attribution { font-size: 11px; text-align: center; color:white;}
.attribution a { color: hsl(228, 45%, 44%); }